# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# Flask
# =========================
instance/
*.sqlite3
*.db

# =========================
# Migrations
# =========================
migrations/

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
